.rem-cell {
  &__container {
    width: 100%;
    text-align: -webkit-left;
    padding: 0;

    &:hover {
      background-color: gray;
      color: white;
    }
  }

  &__text {
    padding: 1em;
    display: flex;
    line-height: normal;
  }
}

.cell {
  &__time {
    background-color: brown;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
    width: 50px;
    min-width: 50px;
    overflow-x: visible;
    text-align: center;
  }

  &__name {
    color: #3d3d3d;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.padded {
  padding: 5px;
}
